html{
	font-family: 'Quicksand', sans-serif;
}

main{
	display: flex;
}

body{
	margin: 0;
}

.sidebar{
	background-color:#384047;
	text-align: center;
	display: flex;
	width: 130px;
	flex-direction: column;
	position: relative;
}

.sidebar i{
	margin-top: 50px;
	color: #788188;
}

 .sidebar i:hover{
 	color: white;
 }

 .contenair{
 	background-color: #edeff0;
 }

 .entete{
 	background-color: white;
 	margin: 30px 67px 20px;
 	border-radius: 5px;
 	text-align: center;
 	padding-top: 25px;
 	padding-bottom: 15px;
 	/*box-shadow: inset 0px 2px 2px 2px #ededed;*/
 }

 .entete h2{
 	font-size: 22px;
 }

 .entete p{
 	line-height: 2em;
 }

 header img{
 	border: solid;
 	border-color: #e5e7e8;
 	border-radius: 50%;
 	width: 100px;
 }

 h1{
 	font-size: 22px;
 	color: #D53935;
 }

 h2{
 	font-size: 18px;
 	font-family: 15px;
 	color: #D53935;
 }

 p{
 	color: #000000;
 }

 .entete p{
 	text-align: center;
 	/*padding-left: 20px;*/
 }

 input{
 	color: white;
 	background-color: #dd5555;
 	border-style: none;
 	padding: 11px 8px;
 	border-radius: 5px;
 	opacity: 0.9;
 }

 input:hover{
 	background-color: #e50b0b;
 }

 .network{
 	background-color: white;
 	margin: 30px 67px 20px;
 	border-radius: 5px;
 	padding: 50px 100px 0 70px;
 	height: 100px;
 }

 .network_box{
 	display: flex;
 	justify-content: center;
 	color: #7d7d7d; 
 }

 .facebook a:hover{
 	color: #000000;
 }

 .twitter a:hover{
 	color: #dc4a38;
 }

 .facebook, .linkedin, .twitter{
 	line-height: 0.1rem;
 	padding-left: 40px;
 	opacity: 0.9;
 	text-align: center;
 }

 .linkedin i{
 	color: #0077b5;
 }

 .facebook i{
 	color: #000000;
 }

 .twitter i{
 	color: #dc4a38;
 }

span{
	display: block;
	line-height: 1.5rem;

}
 a{
 	text-decoration: none;
 	color: #7d7d7d;
}

a:hover{
	color: #0077b5;
}

.skills{
	background-color: white;
 	margin: 30px 67px 20px;
 	border-radius: 5px;
 	height: auto;
 	padding-bottom: 15px;
}

.skills span{
	/*margin-left: 33px;*/
	text-align: center;
	font-color: #000000;
	border-radius: 50px;
}

.skills span .b1{
	width: 500px;
}

.skills span .b2{
	width: 500px;
}

.skills span .b3{
	width: 500px;
}

.skills h3{
	text-align: center;
	color: #D53935;
}

.movies{
	background-color: white;
 	margin: 30px 67px 20px;
 	border-radius: 5px;
 	text-align: center;
}

h3{
	font-size: 18px;
	color: #D53935;
}

.m1, .m2{
	display: flex;
	text-align: left;
	padding-left: 33px;
	padding-bottom: 15px;
	padding-top: 15px;
}

.movies .m1 .texte h5{
	font-size: 18px;
}

.movies .m2 .texte h5{
	font-size: 18px;
}

.texte{
	padding-left: 15px;
}

img{
	width: 100px;
}

footer{
	background-color: white;
 	margin: 30px 67px 20px;
 	border-radius: 5px;
 	text-align: center;
 	padding-bottom: 5px;
}

.foot{
	font-size: 18px;
	color: #D53935;
}

.icon{
	color: #7d7d7d;
}

.icon i{
	
	padding-left: 50px;
	padding-bottom: 40px;
	padding-top: 30px;
}

.fa-book:hover, .fa-gamepad:hover, .fa-futbol-o:hover{
	color: #e50b0b;
}

#bulle{
	position: absolute;
	/*top: 10px;*/
	/*right: -200px*/
	color: black;
	font-size: 18px;
	font-family: 'Quicksand', sans-serif;
	background-color: #FFFC96;
	padding: 15px 10px;
	text-align: left;
	top: -20px;
	left: 100%;
	white-space: nowrap;
	top: 30px;
}

#bulle-trigger #bulle {
	display: none;
}

#bulle-trigger:hover #bulle {
	display: block;
}

.mavideo {
	display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.video_content{
	margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .video_content {
        width: 100%;
    }
}